# Arquivos de Sistema e IDEs (PyCharm)
.idea/
*.iml

# Ambiente Virtual
venv/
.venv/
__pycache__/
*/*.pyc

# Arquivos de Banco de Dados e Dados
instance/
site.db
*.sqlite
*.db

# ... outros ...

# Pasta de instância (uploads, db, etc)
/instance/

# Arquivo do ExifTool
exiftool.exe

# Arquivos de Configuração Confidenciais
.env
